@use 'globales';
@use 'variables';

.site-footer{
    background-color: variables.$rosa;
    padding: .8rem;

    p{
        color: variables.$negro;
        text-align: center;
        font-size: 1.4rem;
    }
}