@use 'globales';
@use 'variables';
@use 'mixins';

.galeria{
    padding: 5rem 0;

    h3{
        text-align: center;
    }
}

.galeria-imagenes{
    @include mixins.resetear-lista;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    @include mixins.tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mixins.desktop {
        grid-template-columns: repeat(6, 1fr);
    }

    & img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        /* -webkit-box-shadow: 7px 6px 31px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 6px 31px -4px rgba(0,0,0,0.75);
box-shadow: 7px 6px 31px -4px rgba(0,0,0,0.75); */
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items:center;
    background-color: rgba(0, 0, 0, 0.452);

    picture{
        display: block;
        max-width: 80rem;

    }
}

.btn-cerrar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: variables.$negro;
    color: variables.$rosa;
    display: grid;
    place-items: center;
    font-weight: 900;
    cursor: pointer;
}