@use 'variables' ;
@use 'mixins';

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: variables.$fuente_principal;
    font-size: 1.6rem;

    @include mixins.tablet {
        &.body-scroll{
            padding-top: 8.6rem;
        }
    }
    
}

p {
    font-size: 2rem;
    color: variables.$negro;
    line-height: 1.5;
}
.contenedor {
    width: 95%;
    max-width: 140rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
    
}
h1, h2, h3 {
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    @include mixins.tablet {
        font-size: 5rem;
    }
}

img{
    display: block;
    width: 100%;
    -webkit-box-shadow: 7px 6px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 31px -4px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 31px -4px rgba(0,0,0,0.75);
    border-radius: .3rem;
}