@use 'variables';
@use 'mixins';

.header {
    background-color: variables.$negro;

    @include mixins.tablet {
        &.fijo{
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            box-shadow: 0.1rem 0.2rem 0.3rem rgb(104, 101, 101);
        }
    }

    h1 {
        color: variables.$blanco;
        text-align: center;
        @include mixins.tablet {
            margin: 0;
            font-size: 3rem;
        }
    }

    .contenido-header{
        padding: 2rem;
        @include mixins.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    }
}

.navegacion-principal {
    @include mixins.tablet {
        display:flex;
        gap: 2rem;
    }
    a {
        color: variables.$blanco;
        display: block;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
        @include mixins.tablet {
            margin: 0;
        }
        &:hover{
            color:variables.$rosa;
        }
    }
}


