@use 'variables';
@use 'mixins';

.video{
    position: relative;
    width: 100%;
    overflow: hidden;
    @include mixins.tablet {
        max-height: 75rem;
    }

    .overlay{
        position: absolute;
        background-color: rgba(102, 51, 153, 0.139);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    video{
        width: 100%;
        display: block;
    }
}

.contenido-video{
    h2{
        color: variables.$blanco;
        font-size: 5rem;
        margin: 0;
        @include mixins.tablet {
            font-size: 7rem;
        }
    }

    p{
        background-color: variables.$rosa;
        display: inline-block;
        padding: 1rem 2rem;
        color: variables.$blanco;
        font-weight: 700;
        font-size: 2rem;
        @include mixins.tablet {
            font-size: 2.4rem;
        }
    }
}